:root {
    --main-bg-color: #ECEFF4;
    --main-text-color: #3b4252;
    --profile-name-color: #4c566a;
    --main-subtitle-color: #2e3440;
    --link-base-color: #5e81ac;
    --link-hover-color: #88c0d0;
    --section-content-title: #5e81ac;
    --navbar-shadow-color: #e0e3e7;
}