:root {
    --main-bg-color: #2e3440;
    --main-text-color: #ECEFF4;
    --profile-name-color: #88C0D0;
    --main-subtitle-color: #8FBCBB;
    --link-base-color: #88C0D0;
    --link-hover-color: #5E81AC;
    --section-content-title: 
 } 