@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #60646b;
    transition: all 0.3s;
}

a:hover {
    color: white;
}

p {
    font-family: 'Open Sans', serif;
    line-height: 25px;
}

#frontpage-container {
    background-color: white;
    font-family: 'Tinos', serif;
    height: 95%;
    width: 95%;
    margin: 1%;
}

.intro-container {
    background-color: #1B1919;
    color: white;
    text-align: left;
    padding: 3%;
    font-size: 125%;
    line-height: 150%;
}

.intro-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

.intro-link-background {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    background-color: white;
    border-radius: 10px;
    height: 32px;
    width: 32px;
    transition: all 0.3s ease-in-out 0s;
}

.intro-link-background:hover {
    width: 64px;
}

.intro-link-background img {
    height: 32px;
    width: 32px;
}

.intro-container p {
    font-size: 125%;
    line-height: 150%;
}

.intro-container h1 {
    font-size: 500%;
    text-align: center;
}

.project-container {
    padding: 5%;
    text-align: left;
}

.project-container-title {
    font-size: 250%;
    margin: 0;
}

.project-grid {
    margin: 1% 0%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0px;
}

.column {
    flex: 33%;
    max-width: 32%;
    padding: 0px 4px;
}

.column img {
    width: 100%;
    vertical-align: middle;
}

.content {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.content .overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    /* height: 100%;
    width: 100%; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out 0s;
}

.content:hover .overlay {
    opacity: 1;
  }

.overlay-details {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);

}

.overlay-details {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    transition: all 0.3s ease-in-out 0s;
    transform: translate(-50%, -50%);
}

.overlay-title {
    text-transform: uppercase;
    font-size: 22px;
    font-style: bold;
}

.overlay-description {
    font-family: 'Open Sans', serif;
}

.content:hover .overlay-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

.fadeIn-bottom {
    top: 80%;
}