@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Lato';
    letter-spacing: 2px;
    line-height: 36px;
    font-size: 20px;
    color: #2E2E2E;
    background-color: #F2F2F2;
}

nav {
    position: sticky;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 2em;
    left: 0;
}

nav a {
    margin: 0 0.5em;
    color: #2E2E2E;
}

nav a:hover {
    margin: 0px 15px 0px 15px;
    color: #8b0000;
}

a {
    text-decoration: none;
    color:#8b0000;
    transition: all 0.2s;
}

a:hover {
    color: rgba(167, 167, 167, 1);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin: 0 auto; */
}

/* FADING */
.fadeDefault {
    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.2s;
}

.fade {
    opacity: 1 !important;
    visibility: visible !important;
}

.section {
    margin: 8vh auto;
}

.section-header {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
    color: #8b0000;
    padding-top: 2em;
}

.section-subheader {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-content {
    max-width: 60%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #2E2E2E;
}

/* PROFILE */
#profile {
    height: 100vh;
    top: 0;
    margin: 0 auto;
    align-items: center;
}

.profile-name {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 6px;
    /* line-height: 58px; */
    text-transform: uppercase;
}

.profile-pic {
    border-radius: 100%;
    max-width: 20%;
}

.profile-social {
    margin-top: 0;
    height: 2em;
    align-items: center;
}

.profile-description {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.profile-social img {
    height: 1.5em;
    width: auto;
    margin: auto 0.5em;
}

.profile-social img:hover {
    height: 1.6em;
}

/* PROJECTS */
#projects {
    width: 85%;
    margin: auto;
}

.project-content {
    width: 80% !important;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    width: 300px;
    margin: 0.5em;
}

.project-box:hover .project-overlay {
    opacity: 1;
}

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255, 255, 0.6);
    border-radius: 3%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-overlay-text {
    padding: 3px;
    font-size: 1.5em;
    line-height: 1.3em;
    text-transform: uppercase;
}

.project-img {
    height: 300px;
    width: 300px;
    border-radius: 3%;
    display: block;
}

/* RESUME */
#resume {
    width: 60%;
}

/* INDIVIDUAL PROJECT PAGE */
.proj-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.proj-info-tile {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.proj-info-title {
    margin-bottom: -0.5em;
}

.proj-info-desc {
    font-size: 0.8em;
}

.proj-img {
    margin: 1em auto;
    height: 400px;
}

.proj-img-caption {
    margin-top: -1.75em;
    font-size: 15px;
}