@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Lato';
    letter-spacing: 2px;
    line-height: 36px;
    font-size: 20px;
    color: #2E2E2E;
    background-color: #F2F2F2;
    padding-bottom: 2em;
}

/* navbar */
nav {
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

/* applied after scrolling down far enough */
.navbar-fixed-top {
    background-color: #2E2E2E;
    position: fixed;
    top: 0;
}

.navlink {
    color: #2E2E2E;
    margin: 0 1em;
    transition: all 0.2s;
}

.navlink-fixed {
    color: #F2F2F2;
}

.navlink-fixed:hover {
    color: rgba(167, 167, 167, 1);
}


/* links */
a {
    text-decoration: none;
    color:#8b0000;
    transition: all 0.2s;
}

a:hover {
    color: rgba(167, 167, 167, 1);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* FADING */
.fadeDefault {
    opacity: 0;
    visibility: hidden;
    transition: ease-in 0.2s;
}

.fade {
    opacity: 1 !important;
    visibility: visible !important;
}

/* SECTIONS */
.section {
    margin: 5vh auto;
}

.section-header {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 6px;
    line-height: 58px;
    text-transform: uppercase;
    color: #8b0000;
    padding-top: 12vh;
}

.section-subheader {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-content {
    max-width: 60%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #2E2E2E;
}

/* PROFILE */
#profile-section {
    height: 90vh;
    top: 0;
    margin: 0 auto;
    align-items: center;
}

.profile-name {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 6px;
    /* line-height: 58px; */
    text-transform: uppercase;
}

.profile-pic {
    border-radius: 100%;
    max-width: 20%;
}

.profile-social {
    margin: 0 auto;
    height: 2em;
    display: flex;
    justify-content: row;
    align-items: center;
}

.profile-description {
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.profile-social img {
    height: 1.5em;
    width: auto;
    margin: auto 0.5em;
}

.profile-social img:hover {
    height: 1.75em;
}

/* PROJECTS */
.project-content {
    width: 80% !important;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-box {
    position: relative;
    width: 300px;
    margin: 0.5em;
}

.project-box:hover .project-overlay {
    opacity: 1;
}

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(39, 39, 39, 0.6);
    border-radius: 3%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F2F2F2;
    align-items: center;
}

.project-overlay-text {
    padding: 1px;
    font-size: 1.4em;
    line-height: 1.25em;
    text-transform: uppercase;
}

.project-overlay-subtext {
    padding: 1px;
    line-height: 1em;
}

.project-img {
    height: 300px;
    width: 300px;
    border-radius: 3%;
    display: block;
}

/* WRITING */
.writing-content {
    width: 90%;
}

.writing-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: left;
    flex-wrap: wrap;
}

.writing-img {
    height: 330px;
}

.writing-title {
    font-size: 1.25em;
    margin: .15em;
}

/* INDIVIDUAL PROJECT PAGE */
.proj-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.proj-info-tile {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.proj-info-title {
    margin-bottom: -0.15em;
    text-transform: uppercase;
}

.proj-info-desc {
    font-size: 0.8em;
    line-height: 1.5em;
}

.proj-img-container {
    margin: 0.5em auto;
}

.proj-img {
    margin: 1em auto;
    height: 400px;
}

.proj-img-caption {
    margin-top: -1.75em;
    font-size: 15px;
}

.project-text {
    text-align: left;
    letter-spacing: 0px;
    margin: 0.45em auto;
}

.project-text-subtitle {
    letter-spacing: 5px;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 1.25em;
    color: #8b0000;
}