[submodule "themes/introduction"]
	path = themes/introduction
	url = git@github.com:garado/hugo-theme-introduction.git
[submodule "themes/hugo-keepit"]
	path = themes/hugo-keepit
	url = git@github.com:garado/hugo-keepit.git
