[submodule "themes/introduction"]
	path = themes/introduction
	url = git@github.com:garado/hugo-theme-introduction.git
[submodule "themes/hugo-keepit"]
	path = themes/hugo-keepit
	url = git@github.com:garado/hugo-keepit.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/lightGallery"]
	path = themes/lightGallery
	url = https://github.com/sachinchoolur/lightGallery.git
[submodule "themes/themes/baguettebox"]
	path = themes/themes/baguettebox
	url = https://github.com/Schnouki/hugo-baguetteBox
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:garado/hugo-coder.git
[submodule "themes/monochrome"]
	path = themes/monochrome
	url = https://github.com/kaiiiz/hugo-theme-monochrome.git
