body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a {
	color: black;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

ul {
	list-style-type: none;
	padding: 0;
}

.navbar, .nav-item {
	background-color: #ffffff !important;
	font-size: 2vh;
}

.navbar-brand, .navbar-toggler {
	font-size: 3vh;
	margin: 1vh;
}

.frontpage {
	display: flex;
	flex-direction: column;
	margin-top: 13vh;
}

.blurb-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile img {
	border-radius: 50%;
	max-width: 25vh;
	padding: 1%;
}

.bio {
	font-size: 2.1vh;
	max-width: 50vw;
	padding: 1%;
}

@media screen and (max-width: 800px) {
  .bio {
    width: 50%;
  }
}

.contact-container {
	vertical-align: middle;
	padding: 1%;
	font-size: 2vh;
}

/****************
 * PROJECT GRID
 ****************/
.project-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Desktop view: 3 cards per row */
.card {
	flex: 30%;
	max-width: 30%;
	margin: 5px;
}

/* Slightly smaller screen: 2 cards per row */
@media screen and (max-width: 800px) {
  .card {
    flex: 45%;
    max-width: 45%;
    margin: 5px;
  }
}


/* Tiny screen: 1 card per row*/
@media screen and (max-width: 670px) {
  .card {
    flex: 100%;
    max-width: 100%;
    margin: 5px;
  }
}

.card-title {
	justify-content: center;
	vertical-align: center;
}

.ovl {
	opacity: 0;
	transition: all 0.4s;
	vertical-align: center;
}

.ovl:hover {
	opacity: 1;
	background: rgba(0,0,0,0.5);
}

.card a {
	color: white;
}

/********************
 * PROJECT SUBPAGES
 ********************/
.carousel-cont {
	display: inline-block;
	height: 30vh;
	width: 50vw;
}

.prog {
	margin: 15px;
}

.components {
	display: flex;
	flex-wrap: column;
	justify-content: space-around;
	margin: 10px;
}

/* Normal display: 2 columns */
.project-body {
	columns: 2;
	padding: 2%;
	margin: 2%;
	text-align: justify;
}

/* Smaller display: 1 column */
@media screen and (max-width: 700px) {
  .project-body {

    padding: 2%;
    margin: 2%;
  }
}