body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a {
	color: black;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

.navbar, .nav-item {
	background-color: #ffffff !important;
	font-size: 2vh;
}

.navbar-brand, .navbar-toggler {
	font-size: 3vh;
	margin: 1vh;
}

.frontpage {
	display: flex;
	flex-direction: column;
}

.blurb-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
}

.profile img {
	border-radius: 50%;
	max-width: 25vh;
}

.bio {
	font-size: 2.1vh;
	max-width: 60vw;
	padding: 2%;
}

.contact-container {
	padding: 2%;
}

.contact-container h3 {
	font-size: 3vh;
}

.contact-container a {
	font-size: 2vh;
}