body {
	background-color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	text-align: center;
}

a {
	color: black;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
	color: lightgray;
}

.navbar, .navbar-brand {
	background-color: #ffffff !important;
	font-size: 1.3em;
	margin: 0.3em;
}

.frontpage {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}

.blurb-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2%;
}

.profile img {
	border-radius: 50%;
	max-width: 200px;
	height: auto;
}

.bio {
	font-size: 1.2em;
	margin-top: 2%;
	width: 40rem;
}