@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

/* i am by no means a web developer, nor do i intend to be one */
/* so please don't judge my trash CSS too harshly */

html {
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: flex-start;
   margin: auto;
   font-family: 'Open Sans', sans-serif;
   line-height: 36px;
   font-size: 16px;
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
   padding-bottom: 2em;
   transition: all 0.2s;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

/* ============= NAVBAR ============= */

/* On large screens, navbar should be below profile pic */
.nav-wrapper {
   order: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

/* Basic navbar settings */
nav {
   position: sticky;
   width: 100%;
   height: 10vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all 0.2s;
   overflow: hidden;
}

/* Makes navbar sticky after scrolling down far enough */
.navbar-fixed-top {
   background-color: var(--main-bg-color);
   position: fixed;
   top: 0;
   box-shadow: rgb(36 41 51 / 15%) 0px 5px 10px 0;
}

/* Navlink container settings */
.navlink-cont {
   width: 100%;
   display: block;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
}

/* Navlink settings */
.navlink {
   color: var(--main-text-color);
   margin: 0 1em;
   transition: all 0.2s;
}

/* Change theme icon cursor */
#theme-toggle-icon {
   cursor: pointer;
}

/* Hide elements meant for smaller screens */
.navbar-header a.menu {
   display: none;
}
#theme-toggle-text {
   display: none;
}
.navbar-header {
   display: none;
}

/* ============= THEME BUTTON SETTINGS ============= */

button.theme {
   border: none;
   top: 50%;
   transform: translateY(10%);
   background-color: var(--main-bg-color);
   transition: all 0.2s;
}

/* Hides the moon icon and only shows the sun icon

.lightmode {
   display: none;
} */

.themeIcon:hover {
   color: var(--link-hover-color);
   transition: all 0.2s;
}

/* ============= LINK SETTINGS ============= */

a {
   text-decoration: none;
   color: var(--link-base-color);
   transition: all 0.2s;
}

a:hover {
   color: var(--link-hover-color);
}

/* ============= FADE SETTINGS ============= */

.fadeDefault {
   opacity: 0;
   visibility: hidden;
   transition: ease-in 0.2s;
}

.fade {
   opacity: 1;
   visibility: visible;
}

/* ============= PROFILE ============= */

#profile-section {
   height: 90vh;
   top: 0;
   margin: 0 auto;
   align-items: center;
   max-width: 60%;
   order: 1;
}

.profile-name {
   margin-bottom: 0;
   letter-spacing: 2px;
   font-size: 40px;
   font-weight: 400;
   letter-spacing: 6px;
   text-transform: uppercase;
   color: var(--profile-name-color);
}

.profile-pic {
   border-radius: 100%;
   max-width: 20%;
}

/* Tiny description below my name */

.profile-description {
   margin: 1em;
   display: flex;
   flex-direction: row;
}

/* Links below my name */

.profile-social {
   margin: 0 auto;
   height: 2em;
   display: flex;
   justify-content: row;
   align-items: center;
}

.profile-social a {
   height: 1.5em;
   width: auto;
   margin: auto 0.5em;
   color: var(--main-text-color);
}

.profile-social a:hover {
   height: 1.75em;
   color: var(--link-hover-color);
}

/* ============= DEFAULT SECTION SETTINGS ============= */

.section {
   margin: 5vh auto;
   max-width: 80%;
}

.section-header {
   font-family: 'Rubik', sans-serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 58px;
   color: var(--link-base-color);
   padding-top: 12vh;
}

.section-subheader {
   letter-spacing: 3px;
   text-transform: uppercase;
}

.section-content-box {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 2em;
}

.section-content-title {
   font-size: 1.75em;
   font-weight: bold;
   color: var(--section-content-title);
}

.section-content-subtitle {
   text-transform: uppercase;
   margin-bottom: -0.25em;
   font-size: 1.15em;
   color: var(--main-subtitle-color);
}

.section-content-text {
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1px;
   line-height: 33px;
   color: var(--main-text-color);
   margin-bottom: 1.5em;
}

/* ============= SECTION: ABOUT ============= */
#about {
   max-width: 60%;
   order: 3;
}

/* ============= SECTION: WORK ============= */
#work {
   order: 4;
   max-width: 60%;
}

.work-desc-list {
   margin-top: 0px;
}

.work-subtitle {
   margin-bottom: 0.25em;
}

.work-dates {
   display: none;
}

/* ============= SECTION: COURSEWORK ============= */

#coursework {
   order: 5;
   max-width: 60%;
   margin-bottom: 0px;
}

.course-class-container {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
}

.course-class-col {
   flex: 100%;
   max-width: 50%;
   text-align: center;
   margin-top: 0px;
}

.course-class-col-header {
   color: var(--main-subtitle-color);
}

/* ============= SECTION: PROJECTS ============= */

.proj-item-cont-main {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   max-width: 60%;
}

/* ============= PAGE: PROJECTS ============= */

.proj-header {
   font-family: 'Rubik', sans-serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 58px;
   color: var(--main-text-color);
   margin-bottom: 20px;
}

.proj-container {
   overflow: hidden;
}

.filter-cont {
   display: flex;
   flex-direction: row;
   font-family: 'Open Sans', sans-serif;
   overflow: hidden;
}

/* Project cards */

.filterDiv {
   float: left;
   background-color: #3b4252;
   border-radius: 10px;
   color: var(--main-text-color);
   width: 45%;
   text-align: center;
   margin: 10px;
   display: none;
   /* Hidden by default */
   box-shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
   transition: 400ms;
   overflow: hidden;
   opacity: 0;
   font-family: 'Rubik', sans-serif;
}

.filterDiv:hover {
   box-shadow: rgb(15 17 21 / 20%) 0px 3px 12px 0px;
}

.card-title {
   font-family: 'Rubik', sans-serif;
   text-transform: uppercase;
   font-size: 1.25em;
   margin-left: 20px;
   margin-right: 20px;
}

.card-icon {
   margin-top: 20px;
}

.card-desc {
   font-size: 15px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 15px;
   line-height: 23px;
}

/* The "show" class is added to the filtered elements */

.show {
   display: block;
   transition: all 0.2ss;
   /* why is this not working */
   opacity: 1;
}

/* Filter buttons */

.btn {
   border: none;
   outline: none;
   padding: 10px 5px;
   background-color: var(--main-bg-color);
   color: var(--main-text-color);
   cursor: pointer;
   border-radius: 3px;
   transition: all 0.2s;
   font-family: 'Open Sans', sans-serif;
   font-size: 0.75em;
   overflow: hidden;
}

.btn:hover {
   background-color: var(--link-hover-color);
}

.btn.active {
   background-color: var(--link-hover-color);
   color: white;
}

.proj-item-cont {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

/* ============= INDIVIDUAL PROJECT PAGES ============= */

.projpage-box {
   background-color: #242933;
   border-radius: 10px;
   width: 90%;
   display: flex;
}