@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

/* i am by no means a web developer, nor do i intend to be one */
/* so please don't judge my trash CSS too harshly */

html {
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin: auto;
   font-family: 'Open Sans', sans-serif;
   line-height: 36px;
   font-size: 16px;
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
   padding-bottom: 2em;
   transition: all 0.2s;
}

.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

/* ============= NAVBAR ============= */

/* Basic settings */
nav {
   position: fixed;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   transition: all 0.2s;
   overflow: hidden;
   background-color: var(--main-bg-color);
}

/* Navbar header (logo + menu button on small screens) */
nav .navbar-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin-top: 0.75em;
   margin-bottom: 0.75em;
   margin-left: 1.5em;
   margin-right: 1.5em;
}

.navbar-header .navbar-header-right {
   display: flex;
   flex-direction: row;
   /* align-items: flex-end; */
   justify-content: right;
}

/* Need this here to center the menu button */
a.menu {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Basic navbar link settings */ 
.navlink {
   color: var(--main-text-color);
   margin-left: 1.5em;
   margin-right: 1.5em;
   transition: all 0.2s;
}

/* Hide sun/moon icon on small screens... */
#theme-toggle-icon {
   display: none;
}

#theme-toggle-text {
   cursor: pointer;
}

/* == ANIMATION STUFF == */

/* Hide links when navbar closed */
#navlink-cont.isClosed {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: left;
   opacity: 0;
   visibility: hidden;
   height: 0;
   transition: opacity 0.35s, visibility 0.35s, height 0.35s;
   overflow: hidden;
   box-shadow: none;
}

/* Show links when navbar open */
#navlink-cont.isOpen {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: left;
   opacity: 1;
   visibility: visible;
   height: 15em;
   transition: opacity 0.35s, visibility 0.35s, height 0.35s;
   box-shadow: var (--navbar-shadow-color), 0px 20px 10px 0px;
}

/* ============= THEME BUTTON SETTINGS ============= */

button.theme {
   border: none;
   top: 50%;
   transform: translateY(10%);
   background-color: var(--main-bg-color);
   transition: all 0.2s;
}

.themeIcon {
   color: var(--link-base-color);
}

/* Hides the moon icon and only shows the sun icon

.lightmode {
   display: none;
} */

.themeIcon:hover {
   color: var(--link-hover-color);
   transition: all 0.2s;
}

/* ============= LINK SETTINGS ============= */

a {
   text-decoration: none;
   color: var(--link-base-color);
   transition: all 0.2s;
}

a:hover {
   color: var(--link-hover-color);
}

/* ============= FADE SETTINGS ============= */

.fadeDefault {
   opacity: 0;
   visibility: hidden;
   transition: ease-in 0.2s;
}

.fade {
   opacity: 1;
   visibility: visible;
}

/* ============= SECTION: PROFILE ============= */

#profile-section {
   height: 85vh;
   top: 0;
   margin: 4em auto;
   align-items: center;
   max-width: 60%;
}

#profile-section.section-content {
   margin: 0;
}

.profile-name {
   margin-bottom: 0;
   letter-spacing: 2px;
   font-size: 40px;
   font-weight: 400;
   letter-spacing: 6px;
   line-height: 1.1em;
   text-transform: uppercase;
   color: var(--profile-name-color);
}

.profile-pic {
   border-radius: 100%;
   max-width: 40%;
}

/* Tiny description below my name */

.profile-description {
   margin: 1em;
   display: flex;
   flex-direction: row;
}

/* Links below my name */

.profile-social {
   margin: 0 auto;
   height: 2em;
   display: flex;
   justify-content: row;
   align-items: center;
}

.profile-social a {
   height: 1.5em;
   width: auto;
   margin: auto 0.5em;
   color: var(--main-text-color);
}

.profile-social a:hover {
   height: 1.75em;
   color: var(--link-hover-color);
}

/* ============= DEFAULT SECTION SETTINGS ============= */

.section {
   margin: 5vh auto;
   max-width: 100%;
}

.section-header {
   font-family: 'Rubik', sans-serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 58px;
   color: var(--link-base-color);
   padding-top: 12vh;
   margin-bottom: ;
}

.section-subheader {
   letter-spacing: 3px;
   text-transform: uppercase;
}

.section-content-box {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin-bottom: 2em;
}

.section-content-title {
   font-size: 1.75em;
   font-weight: bold;
   color: var(--section-content-title);
}

.section-content-subtitle {
   text-transform: uppercase;
   margin-bottom: -0.25em;
   font-size: 1.15em;
   color: var(--main-subtitle-color);
}

.section-content-text {
   font-family: 'Open Sans', sans-serif;
   letter-spacing: 1px;
   line-height: 1.75em;
   color: var(--main-text-color);
   margin-bottom: 1.5em;
}

/* ============= SECTION: ABOUT ============= */
#about {
   max-width: 90%;
}

/* ============= SECTION: WORK ============= */
#work {
   max-width: 90%;
}

.work-desc-list {
   margin-top: 0.5em;
   margin-left: -0.85em;
}

.work-subtitle {
   margin-top: 0.25em;
   margin-bottom: 0.25em;
   line-height: 1.4em;
}

.work-dates {
   display: inline;
}

/* ============= SECTION: COURSEWORK ============= */

#coursework {
   max-width: 100%;
   margin-bottom: 0px;
}

.course-class-container {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.course-class-col {
   flex: 100%;
   max-width: 100%;
   text-align: center;
   margin-bottom: 2em;
}

.course-class-col-header {
   color: var(--main-subtitle-color);
}

.course-class-entry {
   max-width: 100%
}

/* ============= SECTION: PROJECTS ============= */

.proj-item-cont-main {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   max-width: 60%;
}

/* ============= PAGE: PROJECTS ============= */

.proj-header {
   font-family: 'Rubik', sans-serif;
   font-size: 40px;
   font-weight: 300;
   line-height: 58px;
   color: var(--main-text-color);
   margin-bottom: 20px;
}

.proj-container {
   overflow: hidden;
}

.filter-cont {
   display: flex;
   flex-direction: row;
   font-family: 'Open Sans', sans-serif;
   overflow: hidden;
}

/* Project cards */

.filterDiv {
   float: left;
   background-color: #3b4252;
   border-radius: 10px;
   color: var(--main-text-color);
   width: 45%;
   text-align: center;
   margin: 10px;
   display: none;
   /* Hidden by default */
   box-shadow: rgb(15 17 21 / 20%) 0px 3px 6px 0px;
   transition: 400ms;
   overflow: hidden;
   opacity: 0;
   font-family: 'Rubik', sans-serif;
}

.filterDiv:hover {
   box-shadow: rgb(15 17 21 / 20%) 0px 3px 12px 0px;
}

.card-title {
   font-family: 'Rubik', sans-serif;
   text-transform: uppercase;
   font-size: 1.25em;
   margin-left: 20px;
   margin-right: 20px;
}

.card-icon {
   margin-top: 20px;
}

.card-desc {
   font-size: 15px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 15px;
   line-height: 23px;
}

/* The "show" class is added to the filtered elements */

.show {
   display: block;
   transition: all 0.2ss;
   /* why is this not working */
   opacity: 1;
}

/* Filter buttons */

.btn {
   border: none;
   outline: none;
   padding: 10px 5px;
   background-color: var(--main-bg-color);
   color: var(--main-text-color);
   cursor: pointer;
   border-radius: 3px;
   transition: all 0.2s;
   font-family: 'Open Sans', sans-serif;
   font-size: 0.75em;
   overflow: hidden;
}

.btn:hover {
   background-color: var(--link-hover-color);
}

.btn.active {
   background-color: var(--link-hover-color);
   color: white;
}

.proj-item-cont {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

/* ============= INDIVIDUAL PROJECT PAGES ============= */

.projpage-box {
   background-color: #242933;
   border-radius: 10px;
   width: 90%;
   display: flex;
}